/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

p, h1, a {
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

svg {
  height: 30px;
}

body {
  background-image: url("img/background.png");
  background-position: center;
}
body header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body header div svg {
  height: 30px;
  margin: 20px;
}
body header div svg line {
  fill: none;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
body footer > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body footer > div div {
  width: 50%;
}
body footer p {
  text-align: right;
  color: white;
}
body footer .copyright {
  font-size: 10px;
}

.main {
  width: 100%;
}
.main > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main > div h1 {
  font-size: 15rem;
}
.main > div p {
  text-align: right;
}
.main > div a {
  border-radius: 5px;
  font-size: 1.8rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  color: white;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.main > div > div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.main .fond {
  width: 900px;
  height: 900px;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff, -20px 0 80px #f0f, 20px 0 80px #FCC8CB, inset 0 0 50px #fff, inset 50px 0 80px #f0f, inset -50px 0 80px #FCC8CB, inset 50px 0 300px #f0f, inset -50px 0 300px #FCC8CB;
  animation: pulsate 6s linear infinite;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 20px #fff, 20px 0 80px #f0f, -20px 0 80px #FCC8CB, inset 0 0 50px #fff, inset -50px 0 80px #f0f, inset 50px 0 80px #FCC8CB, inset -50px 0 300px #f0f, inset 50px 0 300px #FCC8CB;
  }
}
.main--game .game--board {
  display: flex;
}
.main--game .grid {
  width: 202px;
  height: 402px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: initial;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.main--game .grid div {
  height: 20px;
  width: 20px;
  margin-top: 0;
  justify-content: initial;
}
.main--game .game--screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-left: 20px;
}
.main--game .game--screen .score {
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 80px;
  margin-top: 20px;
  display: flex;
}
.main--game .game--screen .score p span, .main--game .game--screen .score p {
  font-size: 1.5rem;
}
.main--game .game--screen .stop {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main--game .game--screen .stop button {
  width: 100%;
}
.main--game .game--screen a {
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.main--game .tetris {
  border: solid 1px white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}
.main--game .mini--grid {
  width: 82px;
  height: 82px;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: initial;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.main--game .mini--grid div {
  width: 20px;
  height: 20px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
